#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

/* .App {
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  margin-top: 3em;
} */